<!-- <div class="modal" tabindex="-1" role="dialog"> -->
<!-- <div class="modal-dialog" role="document"> -->
<div class="modal-content" *ngIf="step">
  <div class="modal-header">
    <h5 class="modal-title">{{ step.title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="step?.stepType === 'text'; else componentStep">
      {{ step?.content }}
    </div>

    <ng-template #componentStep></ng-template>
  </div>
  <div class="modal-footer">
    <button *ngIf="isPrevBtnShown" class="btn btn-secondary" (click)="onPrev()">
      Prev
    </button>
    <button *ngIf="isNextBtnShown" class="btn btn-secondary" (click)="onNext()">
      Next
    </button>
    <button
      *ngIf="isFinishBtnShown"
      class="btn btn-primary"
      (click)="onFinish()"
    >
      Finish
    </button>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
